<?xml version="1.0"?>
<launch>

    <!-- arguments of launch -->
    <arg name="vehicle" default="$(env VEHICLE_NAME)"/>
    <arg name="pkg_name" default="jetfalcon_bringup"/>
    <arg name="node_motor" default="motor"/>
    <arg name="node_inverse_kinematic" default="inverse_kinematic"/>
    <arg name="node_initialize_reconfigure" default="initialize_reconfigure"/>
    <arg name="node_ydlidar" default="ydlidar_node"/>
    <arg name="node_odometry" default="rf2o_laser_odometry"/>
    <arg name="ekf" default="true"/>
    <arg name="cmos_lidar" default="false"/>
    <arg name="laser_frame_id" default="$(arg vehicle)_laser_frame"/>

    <group ns="$(arg vehicle)">

        <!-- node_inverse_kinematic -->
        <remap from="inverse_kinematic/cmd_vel" to="/cmd_vel"/>
        <node pkg="$(arg pkg_name)" type="$(arg node_inverse_kinematic).py" name="$(arg node_inverse_kinematic)" output="screen">
            <rosparam command="load" file="$(find jetfalcon_bringup)/param/$(arg node_inverse_kinematic)/$(arg vehicle).yaml"/>
        </node>

        <!-- node_initialize_reconfigure -->
        <node pkg="$(arg pkg_name)" type="$(arg node_initialize_reconfigure).py" name="$(arg node_initialize_reconfigure)" output="log">
            <param name="target" type="str" value="/$(arg vehicle)/$(arg node_inverse_kinematic)"/>
        </node>

        <!-- node_motor -->
        <remap from="motor/wheels_cmd" to="/$(arg vehicle)/$(arg node_inverse_kinematic)/wheels_cmd"/>
        <node pkg="$(arg pkg_name)" type="$(arg node_motor).py" name="$(arg node_motor)" output="screen">
            <rosparam command="load" file="$(find jetfalcon_bringup)/param/$(arg node_motor)/$(arg vehicle).yaml"/>
        </node>

        <!-- lidar -->
        <!-- node_ydlidar -->
        <group unless="$(arg cmos_lidar)">
            <node pkg="ydlidar_ros" type="$(arg node_ydlidar)" name="$(arg node_ydlidar)" output="screen" respawn="false">
                <rosparam command="load" file="$(find jetfalcon_bringup)/param/$(arg node_ydlidar)/$(arg vehicle).yaml"/>
                <param name="frame_id" type="string" value="$(arg vehicle)_laser_frame"/>
            </node>
        </group>

	<!-- node_cmos_lidar -->
        <group if="$(arg cmos_lidar)">
            <node name="cmos_lidar_publisher"  pkg="cmos_ros_driver"  type="cmos_ros_driver_node" output="screen" respawn="false">
                <param name="frame_id" type="string" value="$(arg vehicle)_laser_frame"/>
            </node>
        </group>


        <!-- static_transform_publisher -->
        <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
          args="0.0 0.0 0.065 0.0 0.0 0.0 $(arg vehicle)_base_footprint $(arg vehicle)_base_link 40" />

        <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
          args="0.0 0.0 0.065 3.1415927 0.0 0.0 $(arg vehicle)_base_link $(arg vehicle)_laser_frame 40" />

        <!-- node_odometry -->
        <!-- more information can check the package rf2o_laser_odometry -->
        <node pkg="$(arg node_odometry)" type="$(arg node_odometry)_node" name="$(arg node_odometry)">   
            <param name="laser_scan_topic"      type="str" value="/$(arg vehicle)/scan"/>           <!-- topic where the lidar scans are being published -->         
            <param name="odom_topic"            type="str" value="/$(arg vehicle)/odom_rf2o"/>      <!-- topic where tu publish the odometry estimations -->
            <param name="base_frame_id"         type="str" value="$(arg vehicle)_base_footprint"/> <!-- frame_id (tf) of the mobile robot base. A tf transform from the laser_frame to the base_frame is mandatory -->
            <param name="odom_frmae_id"         type="str" value="odom"/>                           <!-- frame_id (tf) to publish the odometry estimations -->
            <rosparam command="load" file="$(find jetfalcon_bringup)/param/$(arg node_odometry)/$(arg vehicle).yaml"/>
        </node>

        <group if="$(arg ekf)">
        <!-- robot localization ekf -->
        <include file="$(find jetfalcon_bringup)/launch/ekf_localization_node.launch">
            <arg name="odom_frame_from"  value="odom"/>
            <arg name="base_link_frame_from"   value="$(arg vehicle)_base_footprint"/>
            <arg name="world_frame_from" value="odom"/>
            <arg name="odom0_from"       value="odom"/>
            <arg name="param_file_name"  value="$(arg vehicle)"/>
        </include>
        </group>  <!-- ekf -->

    </group>

</launch>
